<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Country Profile Viewer</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/main">
  </head>
  <body>
    <%- include ('../partials/header.ejs') %>
    <%- include ('../partials/subheader.ejs') %>
    <img
  src="https://flagcdn.com/w160/gb.png"
  srcset="https://flagcdn.com/w320/gb.png 2x"
  width="160"
  alt="United Kingdom">
    <%- include ('../partials/countries.ejs') %>
    <%- include ('../partials/footer.ejs') %>
  </body>
</html>